#traffic-light {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -60px;
  margin-top: 20px;
  background-color: #333;
  width: 120px;
  height: 320px;
  border-radius: 30px;
}
button {
  border-radius: 5px;
  color: black;
  background-color: #cdcdcd;
  border-color: #cdcdcd;
  border-style: solid;
}
#inputBox {
  margin-top: -60px;
}
#inputLkr {
  position: relative;
  left: 50%;
  width: 250px;
  height: 25px;
  margin-left: -125px;
  border-radius: 5px;
  border-width: thin;
  margin-top: -50px;
}
#searchLkr {
  position: relative;
  left: 50%;
  width: 200px;
  height: 25px;
  margin-top: 5px;
  margin-left: -100px;
}
ul {
  padding: 0;
  position: relative;
  width: 100%;
  margin-right: 400px;
}
#result {
  position: relative;
  width: 400px;
  margin-left: -130px;
  left: 50%;
}
#currentCity {
  position: relative;
  width: 200px;
  margin-left: -100px;
  left: 50%;
}
.light {
  appearance: none;
  position: relative;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: -40px;
  background-color: grey;
  border-radius: 100%;
  display: block;
}
.light#color0 {
  background-color: #710000;
}
.light#color0:checked {
  background-color: #bd0000;
  box-shadow: 0 0 6em #f00000;
}
.light#color1 {
  background-color: #b30000;
}
.light#color1:checked {
  background-color: #FF0000;
  box-shadow: 0 0 6em #ff3333;
}
.light#color2 {
  background-color: #b2b300;
}
.light#color2:checked {
  background-color: #FFFF00;
  box-shadow: 0 0 6em #ffff33;
}
.light#color3 {
  background-color: #00b300;
}
.light#color3:checked {
  background-color: #00FF00;
  box-shadow: 0 0 6em #33ff33;
}
* {
  user-select: none;
  outline: none;
  font-family: Arial;
  font-size: 1em;
}
